<div th:fragment="login-form">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group mb-3">
                <label class="form-label">First Name</label>
                <input class="form-control" id="firstName" name="firstName"
                    placeholder="Enter first name" th:field="*{firstName}" type="text" required />
                <p th:errors="*{firstName}" class="text-danger"
                    th:if="${#fields.hasErrors('firstName')}">
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group mb-3">
                <label class="form-label">Last Name</label>
                <input class="form-control" id="lastName" name="lastName" placeholder="Enter last name"
                    th:field="*{lastName}" type="text" required />
                <p th:errors="*{lastName}" class="text-danger" th:if="${#fields.hasErrors('lastName')}">
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group mb-3">
                <label class="form-label">Gender</label>
                <select class="selectpicker form-control" id="gender" name="gender" th:field="*{gender}"
                    required>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <p th:errors="*{gender}" class="text-danger" th:if="${#fields.hasErrors('gender')}">
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group mb-3">
                <label class="form-label">Age</label>
                <input class="form-control" id="age" name="age" placeholder="Enter your age"
                    th:field="*{age}" type="number" required />
                <p th:errors="*{age}" class="text-danger" th:if="${#fields.hasErrors('age')}">
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group mb-3">
                <label class="form-label">Email</label>
                <input class="form-control" id="email" name="email" placeholder="Enter email address"
                    th:field="*{email}" type="email" />
                <p th:errors="*{email}" class="text-danger" th:if="${#fields.hasErrors('email')}">
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group mb-3">
                <label class="form-label">Phone</label>
                <input class="form-control" id="phone" name="phone"
                    placeholder="Enter your phone number" th:field="*{phone}" type="text" required />
                <p th:errors="*{phone}" class="text-danger" th:if="${#fields.hasErrors('phone')}">
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group mb-3">
                <label class="form-label">Address</label>
                <input class="form-control" id="address" name="address" placeholder="Enter your address"
                    th:field="*{address}" type="text" required />
                <p th:errors="*{address}" class="text-danger" th:if="${#fields.hasErrors('address')}">
                </p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group mb-3">
                <label class="form-label">Password</label>
                <input class="form-control" id="password" name="password" placeholder="Enter password"
                    th:field="*{password}" type="password" />
                <p th:errors="*{password}" class="text-danger" th:if="${#fields.hasErrors('password')}">
                </p>
            </div>
        </div>
    </div>
</div>